Flask-SQLAlchemy==3.0.3
gunicorn
psycopg2-binary==2.9.6
astroid
requests
Babel
click
Flask-Babel
Flask-Cors
Flask-Login
Flask-Table
greenlet
itsdangerous
Jinja2
lazy-object-proxy
MarkupSafe
mccabe
mypy-extensions
pathspec
pi
platformdirs
pycodestyle
pyflakes
pylint
pytz
regex
six
SQLAlchemy
toml
typing-extensions
Werkzeug
wrapt
WTForms
Flask-Migrate
pandas
python-dotenv